<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- appender: 로그 이벤트 문서화 -->
    <!-- Pattern
    %d – 로그 메시지가 발생한 시간
    %thread – 로그 메시지가 발생한 스레드의 이름
    %-5level – 로그 메시지의 로깅 수준(ERROR, WARN, INFO, DEBUG 및 TRACE).
    %logger{64} – 로그 메시지가 발생한 패키지 및 클래스 이름이 있는 패키지. 괄호 안의 숫자 64는 패키지와 클래스 이름을 결합한 최대 길이.
    %M – 로그 메시지가 발생한 메서드의 이름.
    %msg – 실제 로그 메시지.
    %n – 줄 바꿈.
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </pattern>
        </encoder>
    </appender>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </Pattern>

        </encoder>
    </appender>
    <logger name="com.teamknp.elk" additivity="false" level="info">
        <appender-ref ref="SAVE-TO-FILE" />
        <appender-ref ref="STDOUT" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>